name: "[X] Build vLLM (v0.10.0)"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build vLLM wheels
        uses: ./.github/actions/build-vllm
        with:
          ghcr_token: ${{ secrets.GHCR_TOKEN }}
          ref: v0.10.0

  publish:
    if: github.event_name != 'pull_request'
    needs: build
    runs-on: ubuntu-latest

    permissions:
      attestations: write
      contents: write
      id-token: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: vllm_pascal
          path: dist

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v1
        with:
          subject-path: "dist/*.whl"

      - name: Publish to GitHub Packages
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          packages_dir: dist
          repository_url: https://pypi.pkg.github.com/${{ github.repository_owner }}
          skip_existing: true
        continue-on-error: true

      - name: Publish wheels
        uses: ./.github/actions/publish-wheels
        with:
          prefix: vllm_pascal-0.10.0

  update-index:
    if: github.event_name != 'pull_request'
    needs: publish
    secrets: inherit
    uses: ./.github/workflows/zz-update-index.yml

    permissions:
      id-token: write
      pages: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/vllm-pascal-0.10.0.yml"
      - "patches/vllm-project/vllm/v0.10.0/**"
      - ".ci/**"
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/vllm-pascal-0.10.0.yml"
      - "patches/vllm-project/vllm/v0.10.0/**"
      - ".ci/**"
